<settings>
  <servers>
    <server>
      <id>nexus-maven-group</id>
      <username>${env.nexus_username}</username>
      <password>${env.nexus_password}</password>
    </server>
  </servers>
 <mirrors>
    <mirror>
        <id>nexus-maven-group</id>
        <mirrorOf>external:http:*</mirrorOf>
        <url>http://10.0.0.5:8081/repository/maven-public/</url>
        <blocked>false</blocked>
    </mirror>
 </mirrors>
</settings>
